
<div class="wrapper" id="Home">
    <header>
        <nav class="navbar">
            <div class="brand">
                <h2>J <span>E</span> </h2>
            </div>
            <ul class="menu">
                <li ><a class="active" (click)="scrollTo('Home')">Home</a></li>
                <li><a (click)="scrollTo('About me')">About me</a></li>
                <li><a (click)="scrollTo('Portafolio')">Portafolio</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <div class="info-content">
            <h1>Yo <span>Juan Esteban</span> Salazar</h1>
            <p>Un aficionado del deporte y la programación. Actualmente, soy estudiante de sexto semestre de Tecnología en Desarrollo de Software en la Universidad Tecnológica de Pereira. Apasionado por el backend y comprometido con el aprendizaje continuo. actualmente vivo en Santa Rosa de Cabal, soy parte de un equipo de baloncesto llamado Tigres, en mis tiempos libres me gusta caminar, estudiar y jugar baloncesto, soy una persona responsable y colaboradora, En un futuro, aspiro a progresar y convertirme en una persona influyente para los demás.</p>
        </div>
            <img src="assets\Imagenes\JuanEstebanSalazar.png" alt="No hay imagen">
    </main>
    
</div>

<div class="about" id="About me">
    <img src="assets\Imagenes\Juan.png" alt="No hay imagen">

    <div class="about-info">
        <h2>About me</h2>
        <div class="divider"></div>

        <h3>Datos personales</h3>

        <div class="iconos">
        <i class="fa-solid fa-address-card"></i> <p>1.088.825.376</p> </div>
        <div class="iconos">
            <i class="fa-solid fa-location-dot"></i> <p>Calle 14 # 11-65 Santa Rosa de Cabal</p>
        </div>
        <div class="iconos">
        <i class="fa-solid fa-cake-candles"></i> <p>24 de septiembre de 2004</p></div>
        <div class="iconos">
            <i class="fa-solid fa-envelope"></i> <p>juanesteban.salazar1@utp.edu.co</p></div>
        <div class="iconos">
            <i class="fa-solid fa-phone"></i> <p>3134381548</p>
        </div> 

        <h3>Habilidades</h3>

        <div class="iconos">
            <i class="fa-solid fa-code"></i> <p>Java</p>
        </div>

        <div class="iconos">
            <i class="fa-solid fa-code"></i> <p>Spring Boot</p>
        </div>

        <div class="iconos"> 
            <i class="fa-solid fa-database"></i> <p>Sql server</p>
        </div>

        <div class="iconos">
            <i class="fa-brands fa-angular"></i> <p>Angular</p>
        </div>
    </div>

    <div class="about-info2">

        <h3>Educación</h3>

        <div class="iconos">
            <i class="fa-solid fa-spinner"></i> <p>Cursando: Tecnología en desarrollo de Software (Universidad Tecnología de Pereira)</p>
        </div>

        <div class="iconos">
            <i class="fa-solid fa-user-graduate"></i> <p>Técnico en programación de software 2019-2020 (SENA)</p>
        </div>

        <div class="iconos">
            <i class="fa-solid fa-user-graduate"></i> <p>Bachiller 2020 (Instituto Francisco José De Caldas)</p>
        </div>

        <h3>Experiencia Laboral</h3>

        <div class="iconos">
            <i class="fa-solid fa-briefcase"></i> <p>Jw Project House: Manejo de SQL Server y transformación de datos (Trabajo Actualmente)</p>
        </div>

        <div class="iconos">
            <i class="fa-solid fa-briefcase"></i> <p>El Buho Mini Market: Cajero y atención al cliente (9 Meses)</p>
        </div>

    </div>  

</div>



<div class="portafolio">
    <div class="portafolio-headings" id="Portafolio">
        <h2>Mi Portafolio</h2>
        <div class="divider"></div>
    </div>

    <div class="container">
        <div class="card">
            <div class="card__img"></div>
            <div class="card__title">
                <h2>Gestión de reservas de un hotel (Backend)</h2>
                <p>Este proyecto fue diseñado en java con el framework de spring boot es un proyecto orientado a creación de APIS y conexiones de base de datos en embebida.</p>
            </div>
            <div class="card__project-links">
                <a href="https://github.com/juan2516Esteban/GestionDeReservasHotelBackend.git" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://spring.io/" target="_blank"><i class="fa-solid fa-book"></i></a>   
            </div>
        </div>

        <div class="card">
            <div class="card__img"></div>
            <div class="card__title">
                <h2>Consumo de APIS (Frontend)</h2>
                <p>En este proyecto comsumimos la FAKE IP de Platzi store, donde pudimos generar la parte visual y funcional de lo que seria un CRUD de los productos, esto lo hicimos con ayuda del Framework de Angular.</p>
            </div>
            <div class="card__project-links">
                <a href="https://github.com/juan2516Esteban/ConsumoFakeIpPlatzit.git" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://docs.angular.lat/" target="_blank"><i class="fa-solid fa-book"></i></a>   
            </div>
        </div>

    </div>
</div>

<footer class="footer">
<div class="footer-content">
      <h2>Juan Esteban Salazar Londoño</h2>
    <h5>Desarrollador Backend</h5>
</div>

</footer>
